root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false

# We get prettier to handle this, or in other cases, humans.
insert_final_newline = false
